.container{
    margin:0px 129px;
}

.header{
    background-color: white;
}

.header-line{
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.nav-item{
    color: black;
    text-decoration: none;
    margin-right: 30px;
    font-weight: 800;

}

.button{
    text-decoration: none;
    color: black;
    background-color: white;
    border:solid;
    padding: 12px 45px;
    font-weight: 300;
    border-radius:5px;

}






.hero{
    text-align: left;
    margin-top: 50px;
    font-weight: 800;
    font-size:50px;
         
}



.hero-title-for{
    color: gray;
    margin-top: 20px;
    font-weight: 100;
    font-size: 20px;
}


.header-button{
    background-color: dimgray;
    text-decoration: none;
    padding:19px 70px;
    color: white;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 20px;
      
}


.header-btn{
margin-top: 40px;
}


.hero{
    margin-top: 60px;
    margin-left: 100px;
}


.photo-lamp{
    margin-left: 300px;
    margin-top: -24%;  
}




.photo-girl{
    margin-left: 550px;
    margin-top: -13%;
}



.skill-item{
    color: black;
    text-decoration: none;
   margin-left: 580px;
    font-weight: 700;
    font-size: 30px;
    
}

.hero2{
 text-align: left;
    margin-left: 100px;
    margin-top: 5%;
}



.photo-hero2{
    margin-top: -40%;
    margin-left: 20px;
    
}

.title-hero2{
    margin-left: 25px;
    font-weight: 600;
    font-size:20px;
    
    
}


.style{
    border-radius: 10px;
}



.title-sec-hero2{
    
    color:gray;
    margin-left: 25px;
}


.title-thir-hero2{
    margin-left: 25px;
    color:gray;
    margin-top:20px;
}


.style2{
    margin-left: 400px;
    margin-top:-423px;
    border-radius: 10px;
}


.photo-hero3{
    margin-top: -24%;
    margin-left: 550px;
}


.title-hero3{
    margin-left: 415px;
    font-weight: 600;
    font-size:20px;
    margin-top:-20px;
}

.title-sec-hero3{
    color: gray;
    margin-left: 415px;
}

.hero2-button{
    background-color: dimgray;
    text-decoration: none;
    padding:15px 60px;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 25px;
    margin-top: -40%;
}

.hero2-btn{
    margin-top:50px;
}



.hero3-button{
    background-color: dimgray;
    text-decoration: none;
    padding:15px 60px;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 410px;
    margin-top: -60px;
}


.hero3-btn{
    margin-top:20px;
}

.style3{
     margin-left: 780px;
    margin-top:-270px;
    border-radius: 10px;
}


.photo-hero4{
    margin-top: -24%;
    margin-left: 800px;

}

.title-hero4{
    margin-left: 800px;
    font-weight: 600;
    font-size:20px;
    margin-top:-10px;
}


.title-sec-hero4{
    color: gray;
    margin-left: 800px;
}


.hero4-button{
     background-color: dimgray;
    text-decoration: none;
    padding:15px 60px;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 800px;
    margin-top: -30px;
}

.hero4-btn{
    margin-top: 30px;
}



.style4{
    margin-left: 400px;
    margin-top:50px;
    border-radius: 10px;
}


.photo-hero5{
    margin-top: -190px;
    margin-left: 700px;
}
    
.title-hero5{
    margin-left: 420px;
    font-weight: 600;
    font-size:20px;
    margin-top:-180px;
}


.title-sec-hero5{
     color: gray;
    margin-left: 420px;
}



.hero5-button{
     background-color: dimgray;
    text-decoration: none;
    padding:15px 60px;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 420px;
    margin-top: -100px;
}

.hero5-btn{
    margin-top: 33px;
}


.history1{
    color: black;
    text-decoration: none;
   margin-left: 120px;
    font-weight: 700;
    font-size: 30px;
    margin-top: 180px;
}



.title-history{
    margin-left: 120px;
    color: gray;
    margin-top:5px;
}

.history-photo{
    margin-left: 700px;
    margin-top: -150px;
}


.first-number{
    margin-left: 120px;
    margin-top: -120px;
    font-weight: 700;
    font-size: 40px;
}


.first-title{
    margin-left: 120px;
    color: gray;
    font-size: 15px;
}

.sec-number{
    margin-left: 250px;
    margin-top: -65px;
    font-weight: 700;
    font-size: 40px;
}


.sec-title{
    margin-left: 250px;
    color:gray;
    font-size: 15px;
}


.thir-number{
    margin-left: 390px;
    margin-top: -65px;
    font-weight: 700;
    font-size: 40px;
}

.thir-title{
    margin-left: 350px;
    color: gray;
    font-size: 15px;
}

.pricing-item{
    color: black;
    text-decoration: none;
   margin-left: 550px;
    font-weight: 700;
    font-size: 30px;
}

.pricing1{
    margin-top: 150px;
}


.girl-learn2{
    margin-left: 100px;
}


.girl-title2{
    color: black;
    font-weight: 600;
}

.girl-suptitle2{
    color: gray;
}

.first-price{
    margin-left:-10px;
}

.mans-learn2{
    margin-left: 500px;
    margin-top: -310px;
}

.mans-title2{
    color: black;
    font-weight: 600;
}

.mans-suptitle{
    color:gray;
    
}

.sec-price{
    margin-left: -10px;
}


.girl-watch{
    margin-left: 900px;
    margin-top:-310px;
}


.girl-watch-title{
    color: black;
    font-weight: 600;
}

.girl-watch-suptitle{
    color: gray;
}


.thir-price{
    margin-left: -10px;
}



.contact-photo{
    margin-left:80px;
    margin-top: 150px;
        
}

.contact-text{
    font-weight: 600;
    margin-left: 500px;
    margin-top: -200px;
    font-size:30px;
}

.contact-suptext{
    color:gray;
    margin-left: 500px;
    margin-top: 30px;
}


.contact-button{
    margin-left: 790px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    border-color: black;
    background-color: gray;
    font-size: 20px;
    padding:10px 30px

}

.contact-btn{
    margin-top: 30px;
        
    
}

.style7{
    margin-left: 500px;
    margin-top: -32px;
    border-radius:5px;
}

.style7-text{
    color: gray;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 13px;
}

.line{
    margin-top: 100px;
    margin-left:50px;
}



.end-logo{
    margin-left: 50px;
    margin-top: 40px;
    
}



.endt-text{
    margin-left: 700px;
    margin-top: -20px;
    color:gray;
}





